.name {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding: 0.5rem 6rem;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.main .first {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.main .buttons {
    margin: 1rem 0;
    display: flex;
    flex-direction: columns;
    gap: 1rem;
}

.main .buttons button {
    border-radius: 15px;
    border: solid 1px white;
    padding: 0.50rem 0.75rem;
    cursor: pointer;
    font-size: 1rem;
}

.main .buttons button:first-child {
    background-color: #F6B17A;
    border: none;
}

.main .buttons button:last-child {
    background-color: transparent;
    color: white;
}

.main .hello {
    font-size: 1.5rem;
    color: #F6B17A;
}

.main h1 {
    font-size: 5rem;
    font-weight: normal;
}

.main h1 span {
    color: #F6B17A;
}

.main p {
    font-size: 2rem;
}



.main img {
    height: 40rem;
    width: auto;
}