.skills {
    background-color: rgb(18, 18, 18);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 6rem;
}

.skills h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.skills h1::before {
    content: "";
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #F6B17A;
    z-index: -1;
}

.skills .main {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.skills .main li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 24rem;
    padding: 1rem;
}

.skills .main li .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0.5rem;
}



.skills .main li .header img {
    height: 4rem;
    width: auto;
}

.skills .main li .header .title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.skills .main li .header .title h2:first-child {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.skills .main li:nth-child(1) .header .title h2:first-child::before {
    content: "";
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #FF0080;
    z-index: -1;
}

.skills .main li:nth-child(2) .header .title h2:first-child::before {
    content: "";
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: hsl(216, 100%, 50%);
    z-index: -1;
}

.skills .main li:nth-child(3) .header .title h2:first-child::before {
    content: "";
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #ff7b00;
    z-index: -1;
}

.skills .main li p {
    max-width: 22rem;
}

@media (max-width: 767px) {
    .skills {
        padding: 3rem 3rem;
    }

    .skills h1 {
        font-size: 2.5rem;
    }

    .skills .main li p {
        text-align: center;
    }
}