.works {
    padding: 5rem 6rem;
    background-color: rgb(18, 18, 18);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.works .header {
    font-size: 3rem;
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.works .header::before {
    content: "";
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #f6b17a;
    z-index: -1;
}

.works .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.works .main li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: rgb(29, 29, 36);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    width: auto;
}

.works .main li img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 16rem;
    width: 100%;
    margin-bottom: 1.5rem;
    transition: transform 0.2s;
    z-index: 0;
}

.works .main li:hover img {
    transform: scale(1.1);
}

.works .main li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2rem;
    border-radius: 10px;
    pointer-events: none;
    transition: background-color 0.2s;
}

.works .main li .work_name,
.work_type {
    position: relative;
    z-index: 1;
}

.works .main li div {
    margin: 0 1rem 1rem 1.5rem;
}

.works .main li div h1 {
    font-size: 1.5rem;
}

.works .main li div p {
    color: #e6e6e6;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.works .main li div p img {
    height: 1.2rem;
    width: auto;
    margin: 0;
}

.works .main li div p:hover {
    color: #f6b17a;
}

@media (max-width: 767px) {
    .works {
        padding: 3rem 1rem;
    }

    .works .main li img {
        height: 12rem;
    }
}